export module prism.core:{{GreenName}};

import :syntax.green.node;
import :syntax.green.token;
import :syntax.green.separated_list;

namespace prism
{
    {{#ForwardDeclarations}}
    class {{Green}};
    {{/ForwardDeclarations}}

    {{#Nodes}}
    class {{GreenName}}{{^IsAbstract}} final{{/IsAbstract}} : public {{GreenBase}}
    {
        {{#IsAbstract}}
    protected:
        explicit constexpr {{GreenName}}(const SyntaxKind kind, DiagnosticInfoList diagnostics = {}) : {{GreenBase}}{kind, std::move(diagnostics)} {}

    public:
        ~{{GreenName}}() override;

        {{#Children}}
        [[nodiscard]] virtual {{GreenGetterType}} {{GetterName}}() const noexcept = 0;

        {{/Children}}
        [[nodiscard]] static constexpr bool instanceof(const GreenNode& node) noexcept
        {
            return {{#Joined " || " ChildKinds}}node.kind() == SyntaxKind::{{.}}{{/Joined}};
        }
        {{/IsAbstract}}
        {{^IsAbstract}}
    public:
        {{#LessOrEqual Children.Length 2}}explicit {{/LessOrEqual}}{{GreenName}}({{#Children}}{{GreenFieldType}} {{Name}}, {{/Children}}DiagnosticInfoList diagnostics = {});
        ~{{GreenName}}() override;

        {{#Children}}
        [[nodiscard]] constexpr {{GreenGetterType}} {{GetterName}}() const noexcept{{#IsOverride}} override{{/IsOverride}}
        {
            return {{GreenGetterBody}};
        }

        {{/Children}}
        [[nodiscard]] static constexpr bool instanceof(const GreenNode& node) noexcept
        {
            return node.kind() == SyntaxKind::{{KindName}};
        }

        [[nodiscard]] Optional<const GreenNode&> get_child(std::size_t index) const override;

    {{^Equals Children.Length 0}}
    private:
    {{/Equals}}
        {{#Children}}
        {{GreenFieldType}} {{FieldName}};
        {{/Children}}
        {{/IsAbstract}}
    };

    {{/Nodes}}
}
