
using System;
using System.Collections.Immutable;
using Prism.Core.Syntax.Green;

namespace {{Namespace}};

static partial class {{EnumName}}Extensions
{
    private readonly static ImmutableArray<({{EnumName}} Token, string StringValue)> Keywords = [
        {{#Keywords}}
        ({{../EnumName}}.{{Name}}, "{{Value}}"),
        {{/Keywords}}
    ];

    private readonly static ImmutableArray<({{EnumName}} Token, string StringValue)> Punctuations = [
        {{#Punctuations}}
        ({{../EnumName}}.{{Name}}, "{{Value}}"),
        {{/Punctuations}}
    ];

    public static string GetTokenText(this {{EnumName}} token)
    {
        return token switch
        {
            {{#Keywords}}
            {{../EnumName}}.{{Name}} => "{{Value}}",
            {{/Keywords}}
            {{#Punctuations}}
            {{../EnumName}}.{{Name}} => "{{Value}}",
            {{/Punctuations}}
            _ => throw new ArgumentOutOfRangeException(nameof(token), "Provided input is not a token with a fixed textual representation")
        };
    }

    {{#Keywords}}
    private static readonly GreenToken Green{{Name}} = new({{../EnumName}}.{{Name}});
    {{/Keywords}}
    {{#Punctuations}}
    private static readonly GreenToken Green{{Name}} = new({{../EnumName}}.{{Name}});
    {{/Punctuations}}

    internal static GreenToken GetGreenToken(this {{EnumName}} token) {
        return token switch
        {
            {{#Keywords}}
            {{../EnumName}}.{{Name}} => Green{{Name}},
            {{/Keywords}}
            {{#Punctuations}}
            {{../EnumName}}.{{Name}} => Green{{Name}},
            {{/Punctuations}}
            _ => throw new ArgumentOutOfRangeException(nameof(token), "Provided input is not a token with a fixed textual representation")
        };
    }
}
